spring:
  application:
    name: glamaya-woocommerce-sync
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:127.0.0.1:29092}
    client-id: ${spring.application.name}
    security:
      protocol: ${SPRING_KAFKA_SECURITY_PROTOCOL:PLAINTEXT}
    producer:
      #      transaction-id-prefix: tx-auth-service-${random.uuid}
      compression-type: zstd
      properties:
        enable.idempotence: true
        linger.ms: 25
      batch-size: 32768 # fixed from 32KB (must be numeric bytes)
  data:
    mongodb:
      uri: "mongodb-connection-uri"

external:
  woocommerce:
    api:
      url: "https://www.glamaya.com"
      wc-client-key: "enter your key here"
      wc-client-secret: "enter your secret here"
      account-name: "enter your account name here"
  n8n:
    api:
      url: "enter your n8n URL here"

application:
  webclient:
    response-timeout-in-millis: 30000
    max-in-memory-size-in-bytes: 10485760 # 10MB
  woocommerce:
    entities:
      global-fetch-duration-in-millis:
        init-mode: 500
      products:
        query-url: /wp-json/wc/v3/products
        enable: false
        page-size: 10
        reset-on-startup: false
        fetch-duration-in-millis:
          active-mode: 500
          passive-mode: 60000
        n8n:
          enable: false
          webhook-url: "enter your n8n webhook URL here"
          error-webhook-url: "enter your n8n error webhook URL here"
      users:
        query-url: /wp-json/wc/v3/customers
        enable: false
        page-size: 20
        reset-on-startup: false
        fetch-duration-in-millis:
          active-mode: 500
          passive-mode: 60000
        n8n:
          enable: false
          webhook-url: "enter your n8n webhook URL here"
          error-webhook-url: "enter your n8n error webhook URL here"
      orders:
        query-url: /wp-json/wc/v3/orders
        enable: false
        page-size: 10
        reset-on-startup: false
        fetch-duration-in-millis:
          active-mode: 1000
          passive-mode: 60000
        n8n:
          enable: false
          webhook-url: "enter your n8n webhook URL here"
          error-webhook-url: "enter your n8n error webhook URL here"

  kafka:
    topic:
      product-events: woo-product-events
      user-events: woo-user-events
      order-events: woo-order-events
      contact-events: ecommerce-contact-events