spring:
  application:
    name: glamaya-sync-runner
  # Import module-specific configurations
  config:
    import:
      - "optional:classpath:application-woocommerce.yml"
  # Kafka Configuration
  kafka:
    bootstrap-servers: localhost:9092 # Default Kafka broker location
  # MongoDB Configuration
  data:
    mongodb:
      database: glamaya-sync-status
      host: localhost
      port: 27017

glamaya:
  sync:
    scheduler:
      # How often the sync job runs. Default is 5 minutes.
      fixedDelay: 300000
  notifications:
    kafka:
      # Set to 'true' to enable sending notifications to Kafka.
      enabled: false
      topic: glamaya-sync-events # The Kafka topic to publish events to.

# --- LOGGING ---
logging:
  level:
    com.glamaya.sync: INFO
    org.springframework.web.reactive.function.client: INFO
    reactor.netty: INFO
