spring:
  application:
    name: glamaya-sync-runner
  # Import module-specific configurations
  config:
    import:
      - "optional:classpath:application-woocommerce.yml"
  # Kafka Configuration
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:29092} # Use environment variable or default
    client-id: ${spring.application.name}
    security:
      protocol: ${SPRING_KAFKA_SECURITY_PROTOCOL:PLAINTEXT}
    producer:
      compression-type: zstd
      properties:
        enable.idempotence: true
        linger.ms: 25
      batch-size: 32768 # 32KB in bytes
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer # Added for object serialization
  # MongoDB Configuration
  data:
    mongodb:
      database: glamaya-sync-status
      host: localhost
      port: 27017

glamaya:
  sync:
    scheduler:
      # How often the sync job runs. Default is 5 minutes.
      fixedDelay: 300000
    concurrency:
      max: 3
    execution:
      mode: sequential
  notifications:
    kafka:
      # Set to 'true' to enable sending notifications to Kafka.
      enabled: true
      topic: glamaya-sync-events # The Kafka topic to publish events to.

# --- LOGGING ---
logging:
  level:
    com.glamaya.sync: INFO
    org.springframework.web.reactive.function.client: INFO
    reactor.netty: INFO
